# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/
.Python
MANIFEST
sdist/
wheels/

# PyInstaller
*.manifest
*.spec

# Virtual environments
.env
.venv/
env/
venv/
myenv/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
nosetests.xml
coverage.xml

# IDE / editor
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# mypy / type checkers
.mypy_cache/
.dmypy.json
.pytype/
.pyre/
